body{
    margin: 0;
    background: #F9FAFC;
    min-height:100%;
    position:relative;
    font-family: VariableFont_slnt;
}

p{
    line-height: 22px;
}
.menu_section .logo{
    font-family: Megrim;
    font-weight: bolder;
    font-style: normal;
    color: #000;
    font-size: 34px;
}
.card_box, .MuiCard-root{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px -2px rgb(100 116 139 / 5%), 0px 10px 15px -3px rgb(100 116 139 / 12%) !important;
    border-radius: 8px !important;
}
.grey{
    color: #6B7280;
}
.green_btn{
    background: #2AA587 !important;
}
.green_text{
    color: #2AA587 !important;
}
.hr_line{
    height: 1px;
    background: #E6E8F0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.hr{
    height: 1px;
    background: #E6E8F0;
}
.text-center{text-align: center;}
.input-center{text-align: center;}
.theme_link:hover{
    color: #2AA587;
}
.MuiDialogTitle-root{
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 137.5% !important;
}
.ad_logo{
    font-family: 'Megrim' !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    text-decoration-line: underline;
    color: #2AA587;
}

/*.MuiDialog-paper{*/
/*    padding: 20px !important;*/
/*}*/
